VERSION=20250720
RELEASE=6.1.0
#DESTDIR=/C/minc-release
GCCVER=4.8.1
MINGW=/C/MinGW
SRCDIR=/D/openbsd-master
ARCH=i386

# locations for BSD native binaries

PREFIX=/opt/minc
BINDIR=${PREFIX}/bin
LIBDIR=${PREFIX}/lib
INCDIR=${PREFIX}/include
LIBXDIR=${PREFIX}/libexec
GCCLIB=
MKDIR=${BINDIR}/mkdir
INSTALL=${BINDIR}/install
PATCH=${BINDIR}/patch
ID=${BINDIR}/id

# locations for Poor Man's Cross Compiler

XPREFIX=${PREFIX}/cross
XBINDIR=${XPREFIX}/bin
XLIBDIR=${XPREFIX}/lib
XINCDIR=${XPREFIX}/include
XLIBXDIR=${XPREFIX}/libexec
XGCC=${XBINDIR}/gcc

# native (OpenBSD) location of packages (release.sh)

PKGROOT=/mnt/d/release
