VERSION=20250913
RELEASE=6.1.0
#DESTDIR=/C/minc-release
GCCVER=4.8.1
MINGW=/C/MinGW
SRCDIR=/D/openbsd-master
ARCH=i386

# locations for native BSD system

PREFIX=/opt/minc
BINDIR=${PREFIX}/bin
LIBDIR=${PREFIX}/lib
INCDIR=${PREFIX}/include
LIBXDIR=${PREFIX}/libexec
SHDIR=${PREFIX}/share
TMPDIR=${PREFIX}/tmp

# locations of BSD install programs

MKDIR=${BINDIR}/mkdir
INSTALL=${BINDIR}/install
ID=${BINDIR}/id
CP=${BINDIR}/cp
LN=${BINDIR}/ln

# locations for Poor Man's Cross Compiler

XPREFIX=${PREFIX}/cross
XBINDIR=${XPREFIX}/bin
XLIBDIR=${XPREFIX}/lib
XINCDIR=${XPREFIX}/include
XLIBXDIR=${XPREFIX}/libexec
XGCC=${XBINDIR}/gcc

# install modes

BINMODE=555
NONBINMODE=444
DIRMODE=755

# native location of packages (release.sh)

PKGROOT=/mnt/d/release
